
body {
     /* Since we have a fixed navbar, it covers content */
     padding-top: 50px;
     padding-bottom: 60px;
}

.navbar-brand-centered {
     position: absolute;
     left: 50%;
     display: block;
     width: 160px;
     text-align: center;
     background-color: transparent;
}

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
     margin-left: -80px;
}

/**** DONATION BLOCK TEXT ****/
.donation_block, .donation_block:link, .donation_block:hover, .donation_block:visited, .donation_block:active{
     /*height: 120px;*/
     color: black;
     text-decoration: none;
}

/*.donation_block_disabled {
     background-color: lightgray;
}*/

.causes-cost {
     position: absolute;
     bottom: 100px;
     right: 20px;
     text-align: right;
}

.donation-rate {
     margin-top: -3px;
     margin-bottom: -13px;
     text-align: center;
     height: 50px;
}

.more-info {
     font-style: italic;
     font-size: 12px;

}

.more-info-icon {
     font-size: 8px;
}

.my-causes-body {
     height: 125px;
}

.empty-cause {
     height: 162px;
     text-align: center;
     padding-top: 30px;
}

.empty-cause-icon {
     font-size: 3rem;
     color: #a6a6a6;
}

.footer {
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  /*height: 60px;*/
  background-color: #f5f5f5;
}

.my-nav-footer-btn {
     font-size: 30px;
     padding-top: 10px;
     padding-bottom: 5px;
     border-radius: 0px;
}

.my-progress-bar {
     margin-bottom: 10px;
}


/*
.navbar {
     background-color: #F0F8FF;
     border-color: #B0C0E0;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus,
.nav > li > a:hover,
.nav > li > a:focus {
     background-color: #B0C0E0;
}

.bottom-background {
     background-color: #F0F8FF;
     padding-bottom : 20px;
}
*/
.jumbotron {
	/*background: none;*/
}