<!doctype html>

<html>
<head>
	<title>Achievements</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

</head>

<body>
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<div class="navbar-brand navbar-brand-centered">Achievements</div>
			</div>
		</div>
	</nav>

	<div class="container">
		<div class="container">
			{{#each achievements}}
			<div class="row">
				<div class="col-xs-12 col-md-6 thumbnail" style="background:#f9f9f9">
					<div class="row">
						<div class="col-xs-4">
							<img src="/images/gold_star.png" class="img img-responsive" {{#unless completed}}style="opacity: 0.3;"{{/unless}}/>
						</div>
						<div class="col-xs-8">
							<dl>
								<dt>{{name}}</dt>
								<dd>{{description}}</dd>
							</dl>
						</div>
					</div>
				</div>
			</div>
			{{/each}}
		</div>
  	</div>

  	<!-- Footer Partial -->
  	{{> footer}}
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>

	{{> googleAnalytics}}

	<!-- Our custom js -->
	<script src="/js/index.js"></script>
</body>
</html>
