<!doctype html>

<html>
<head>
	<title>Create an Account</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

	<!-- Custom CSS for this page -->
	<link href="/css/createacct.css" rel="stylesheet">
</head>

<body>
	<div id="bg-img" class="bg-effect"></div>
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12">
				<p class="text-center title">Create an Account</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-8 col-xs-offset-2">
				<div class="signin-form">
					<!--<form class="form-horizontal" method="post" action="/createacct">-->
					<form class="form-horizontal" method="post" action="/createacct/attemptSignUp">
						<div class="form-group">
						    <input type="text" class="form-control input-sm my-input" name="firstname" id="firstname" placeholder="Firstname">
						</div>
						<div class="form-group">
						    <input type="text" class="form-control input-sm my-input" name="lastname" id="lastname" placeholder="Lastname">
						</div>
						<div class="form-group">
						    <input type="email" class="form-control input-sm my-input" name="email" id="email" placeholder="Email">
						</div>
						<div class="form-group">
						    <input type="password" class="form-control input-sm my-input" name="password" id="password" placeholder="Password">
						</div>
						<div class="form-group">
						    <input type="password" class="form-control input-sm my-input" name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
						</div>
						<div class="form-group">
							<div class="checkbox">
								<label>
									<input type="checkbox"> Remember me
								</label>
							</div>
						</div>
						<div class="form-group">
						    <!--<button type="submit" class="my-btn sign-in-style btn btn-info center-block">Sign Up</button>-->
						    <button type="submit" class="my-btn sign-in-style btn btn-info center-block">Sign Up</button>
						</div>
					</form>
				</div>
		  	</div>
	  	</div>
	</div>
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>

	{{> googleAnalytics}}
	
	<!-- Our custom js 
	<script src="/js/settings.js"></script>-->
</body>
</html>
