<!doctype html>

<html>
<head>
	<title>Saved Causes</title>	
	
	<!-- Add Common Head tags and Base CSS files -->
	{{> head_css}}

	<!-- Custom CSS to this page -->
	<link href="/css/saved_causes.css" rel="stylesheet">
</head>

<body>
	<!-- Static navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<!--button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button-->
				<div class="navbar-brand navbar-brand-centered">Saved Causes</div>
			</div>
			<!--div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">Favorites</a></li>
					<li><a href="#">All Causes</a></li>
					<li><a href="#">Accomplishments</a></li>
					<li><a href="#">Settings</a></li>
				</ul>
			</div--><!--/.nav-collapse -->
		</div>
	</nav>

	<!--<div class="jumbotron">
		<div class="container">
			<div class="panel panel-default">
				<div class="panel-body">
					<h4>You've saved:</h4>

					<center><h1>$10.00</h1></center>

				</div>
				<div class="panel-footer"><center>Over 10 days</center></div>
			</div>
		</div>
	</div>-->

	<div class="bottom-background">
		<div class="container">
			
			
	  	</div>
  	</div>

  	<!-- Footer Partial -->
  	{{> footer}}
  	
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (blelow), or include individual files as needed -->
	<script src="/js/bootstrap.min.js"></script>

	{{> googleAnalytics}}
	
	<!-- Our custom js -->
	<script src="/js/saved_causes.js"></script>
</body>
</html>
