
body {
     /* Since we have a fixed navbar, it covers content */
     padding-top: 65px;
     padding-bottom: 60px;
}

.navbar-default {
     background-color: #F6F6F6;
}

.navbar-brand-centered {
     position: absolute;
     left: 50%;
     display: block;
     width: 200px;
     text-align: center;
     background-color: transparent;
     color : #F2784B !important;
}

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
     margin-left: -100px;
}

/*** NAV FOOTER ***/
.my-nav-footer-btn, .my-nav-footer-btn:focus {
     font-size: 18px;
     padding-left: 0;
     padding-right: 0;
     padding-top: 10px;
     padding-bottom: 0;
     border-radius: 0;
     border: none;
     border-top: 1px solid transparent;
     border-color: #a6a6a6;
     color: #8C8C8C;
     background-color: white;
}

.my-nav-footer-btn p {
     font-size: 11px;
     color: #8C8C8C;
}

.my-nav-footer-btn.active, .my-nav-footer-btn:active {
     background-color: white;
     color: #F2784B;
     -webkit-box-shadow: none;
     box-shadow: none;
}

.my-nav-footer-btn.active p, .my-nav-footer-btn:active p {
     color: #F2784B;
}

/*** HOLDING PAGE ***/
#holding-pg-wrapper {
     text-align: center;
     margin-top: 90px;
}

.holding-warning-icon {
     font-size: 30px;
}

/*** MODAL STYLE ***/
.modal-title {
     color: #F2784B;
}

.modal-footer .btn-success, .modal-footer .btn-info {
     background-color: #F2784B;
     border-color: #F2784B;
}