
body {
     /* Since we have a fixed navbar, it covers content */
     padding-top: 65px;
     padding-bottom: 60px;
}

.navbar-brand-centered {
     position: absolute;
     left: 50%;
     display: block;
     width: 200px;
     text-align: center;
     background-color: transparent;
}

.navbar > .container .navbar-brand-centered,
.navbar > .container-fluid .navbar-brand-centered {
     margin-left: -100px;
}

/*** NAV FOOTER ***/
.my-nav-footer-btn {
     font-size: 30px;
     padding-top: 10px;
     padding-bottom: 5px;
     border-radius: 0px;
     color: #a6a6a6;
}

/*** HOLDING PAGE ***/
#holding-pg-wrapper {
     text-align: center;
     margin-top: 90px;
}

.holding-warning-icon {
     font-size: 30px;
}