
.causes-cost {
     position: absolute;
     bottom: 81px;
     right: 20px;
     text-align: right;
}

.more-info {
     font-style: italic;
     font-size: 12px;

}

.more-info-icon {
     font-size: 8px;
}

.causes-body, .causes-body-favorites {
     height: 125px;
}

.causes-body:hover, .causes-body-favorites:hover {
     cursor: pointer;
     border: 1px solid lightblue;
}

.favorite-button {
     color: #a6a6a6;
}

.favorite-button-active {
     color: #000000;
}