.col-xs-6, .col-md-3 {
     padding-left: 2px;
     padding-right: 2px;
}

.panel {
     margin-bottom: 4px;
     border-radius: 0;
     border-color: #AAAAAA;
}

.panel .btn {
     border-radius: 0;
     height: 50px;
}

.my-causes-body {
     color: white;
     height: 125px;
     padding: 8px;
}

.my-causes-body:hover {
     cursor: pointer;
     border: 1px solid lightblue;
}

.causes-cost {
     position: absolute;
     bottom: 40px;
     right: 8px;
     font-size: 18px;
     text-align: right;
}

.more-info {
     font-size: 14px;
}

.panel-footer {
     background-color: white;
     padding-top: 5px;
     padding-bottom: 0;
     padding-left: 0;
     padding-right: 0;
}

/*** DONATION BLOCK PROGRESS BAR ****/

.my-progress-bar {
     margin-bottom: 5px;
     border-radius: 0;
     height: 30px;
}

.progress-bar {
     padding-top: 5px;
}

.money-saved {
     padding-left: 4px;
}