.causes-cost {
     position: absolute;
     bottom: 65px;
     right: 20px;
     text-align: right;
}

.more-info {
     font-style: italic;
     font-size: 12px;

}

.more-info-icon {
     font-size: 8px;
}

.my-causes-body {
     height: 125px;
}

.my-causes-body:hover {
     cursor: pointer;
     border: 1px solid lightblue;
}

/*** DONATION BLOCK PRGORESS BAR ****/
.my-progress-bar {
     margin-bottom: 10px;
}