
/**** DONATION BLOCK (ACTIVE) TEXT****/
.donation_block, .donation_block:link, .donation_block:hover, .donation_block:visited, .donation_block:active{
     /*height: 120px;*/
     color: black;
     text-decoration: none;
}

/*.donation_block_disabled {
     background-color: lightgray;
}*/
.testing-lh {
     color: red;
}
.causes-cost {
     position: absolute;
     bottom: 95px;
     right: 20px;
     text-align: right;
}

.donation-rate {
     margin-top: -3px;
     margin-bottom: -13px;
     text-align: center;
     height: 50px;
}

.more-info {
     font-style: italic;
     font-size: 12px;

}

.more-info-icon {
     font-size: 8px;
}

.my-causes-body {
     height: 125px;
}

.my-causes-body:hover {
     cursor: pointer;
     border: 1px solid lightblue;
}

/*** DONATION BLOCK (DISABLED) TEXT ***/
.empty-cause {
     height: 158px;
     text-align: center;
     padding-top: 30px;
}

.empty-cause-icon {
     font-size: 3rem;
     color: #a6a6a6;
}

/*** DONATION BLOCK PRGORESS BAR ****/
.my-progress-bar {
     margin-bottom: 10px;
}

.btn-circle {
     width: 30px;
     height: 30px;
     text-align: center;
     padding: 6px 0;
     font-size: 12px;
     line-height: 1.42;
     border-radius: 15px;
}

.btn-sm-center {
     width: 30px;
     height: 30px;
     text-align: center;
     padding: 6px 0;
     font-size: 12px;
     line-height: 1.42;
}

.jumbotron {
     margin-top: -15px;
     margin-bottom: 15px;
     padding-top: 0px;
     padding-bottom: 0px;
}